/* Start Website first page  */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.blue-color {
    color: blueviolet;
}

.intro {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.half-width img {
    width: 100%;
}

.order_button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 30px;
}
/* End Website first page  */

/* Start About Section  */
.mid-banner {
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
/* End About Section  */

/* Start My Recipies */
.recipies{	
	width: 80%;
    margin:auto;
    text-align: center;
}

.recipies-head {
    padding: 15px;

}

.recipies-head h1{
	font-size: 30px;
}

.recipies-head p{
	max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    color: rgb(97, 90, 90);	
}

.recipies-item{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.recipies-type{
    flex-basis: 31%;
    background-color: rgb(248, 248, 255);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
}

.recipies-type img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.recipies-type h3{
	text-align: center;
    font-weight: 400;
    margin: 10px 0;
    color: rgb(97, 90, 90);
}
.recipies-type p{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(97, 90, 90);
}
/* End My Recipies */

/* Start Man power */
.social-network{
    width: 80%;
    margin:auto;
    text-align: center;
}

.network-type{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 2% 12%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}

.power-type h1{
    margin: 0;
    text-align: start;
}
/* End Man power */

/* Start Footer */
.footer{
    margin-top: 80px;
    min-height: 150px;
    text-align: center;
    background-color: black;
    color: mintcream;
    margin-bottom: 0;
}

.footer h2{
    padding-top: 30px;
    color: whitesmoke;
}

.blue-color {
    color: blue;
}

.footer h4{
    color: silver;
}
/* End Footer */